doctype
html
    head
        title Home
        
    style
        include ../css/styles.css

    body
        header.main-header
            div.container 
                h1 MEDIA LIBRARY 
                nav#top-menu-nav
                    ul#top-menu.nav
                        li 
                            a(href='/') Home
                            //- a(href='/') Home
                        li 
                            a(href='Books') Books 
                        li 
                            a(href='About') About
                        li 
                            a(href='Contact') Contact
