$white: rgb(255,255,255);
$dark-white: rgb(222,222,222);
$red: rgb(185, 62, 62);
$dark-red: rgb(135, 32, 32);

.signIn-signUp_heading{
    text-align: center;
    // color: tomato;
    margin: 50px 0 50px 0;
}

/*******************
    * FORM
*******************/

form.signIn-signUp_form{
    margin: 0 25%;
    width: 50%;
    box-sizing: border-box;
    
    
    label{
        font-size: 1.6em;
        // margin: 0 0 120px 0;
        font-weight: 600;
        display: block;
        
        
    }
    
    label.sign-up_checkbox-label{
        font-size: 1.2em;
        // margin: 50px 20px;
        display: inline;

    }

    input[type="checkbox"]{
        margin: 0 8px 8px 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    {
        width: 100%;
        line-height: 20px;
        height: 50px;
        font-size: 1.5em;
        // color: tomato;
        box-sizing: border-box;
        margin: 0 0 30px 0 ;
    }

    

    .signIn-signUp_button{
        
        display: block;
        width: 100%;
        min-height: 60px;
        padding: 10px 20px;
        margin: 20px 0px 100px;
        background-color: $red;
        color: $white;
        border: none;
        font-weight: 600;
        font-size: 1.7em;
        border-radius:  1%;
        box-shadow: 0px 10px $dark-red;
        box-sizing: border-box;        
        &:hover{
            opacity: 0.9;
        }
    
        &:focus{
            outline: none;
            
        }
    
        &:active{
            opacity: 1;
            box-shadow: 0px 2px $dark-red;
            color: $dark-white;
    
        }
    }
}


/********************
 *SIGN UP - SIGN IN*
*********************/


.header_button-wrapper{
    min-width: 10%;
    overflow: hidden;
    display:inline-block;
    // margin: auto 0  0 462px; 
    position: fixed;
    right: 150px;
    top: 80px;
    box-sizing: border-box;  

    
    
    form{
        display: inline-block;
    }
    button.header_button{
        
        padding: 10px 20px;
        margin: 0 10px;
        background-color: $red;
        color: $white;
        border: none;
        font-weight: 600;
        font-size: 1em;
        border-radius:  5%;
        box-shadow: 0px 5px $dark-red;
        border-top: 1px solid $dark-red;
        border-left: 1px solid $dark-red;
        border-right: 1px solid $dark-red;    
        &:hover{
            opacity: 0.9;
        }

        &:focus{
            outline: none;
            
        }

        &:active{
            opacity: 1;
            box-shadow: 0px 2px $dark-red;
            color: $dark-white;

        }
    } //button closed

    
 
    


}


/*******************
    log-in
*******************/

.log-in_links{
    text-align: center;
    display: block;
    margin: -45px 0 0px 0;
    font-size: 1.25em;

}


/********************
    AFTER USER LOGIN
********************/
//position
#header_user-wrapper{
    display:inline-block;
    position: fixed;
    right: 140px;
    top: 65px;
}

#header_user-wrapper{
    

    &:hover{
        opacity: 0.8;
        cursor: pointer;
        
        
    }
    
    h1{
        display: inline;
        
        font-size: 1.75em;
        font-weight: 400;
    }
    
    img.header_userAvatar{
        display: inline;
        margin: 0px 5px 10px 0;
        max-width: 50px;
        border-radius: 50%;
        
    }
    
    .header_down-arrow{
        max-width: 20px;
        margin: 0 5px 8px 5px;
    }

    
    display: inline-block;
    padding: 10px;
    margin: auto;
}

#header_user-logout {
    position: fixed;
    right: 140px;
    max-width: 120px;

    // position: absolute; //DANGEROUS //SHOULD NOT USE
    background-color: $red;
    
    a, form{
        padding: 0;
        margin: 0;
        min-height: 30px;
        display:block;
        text-align: center;
        
        font-size: 1.5em;
        // padding: 30px;
        box-sizing: border-box;
    }

    a{
        padding: 0px 21px;
        margin: 4px 0 2px 0;
        border: 2px solid white;
        &:hover{
            background-color: red;
        }
        // border: 2px solid white;
    }
    
    hr{
        width: 100%;
        color: white;
        background-color: white;
    }
    
}


button.header_button-logout{
    
    // margin: 23px 0 0 0;
    padding: 15px 18px;
    background-color: $red;
    color: $white;
    font-weight: 600;
    font-size: 1em;
    border-radius:  1%;
    border: 2px solid white;    
    box-shadow: 0px 5px $dark-red;
    &:hover{
        opacity: 0.9;
    }

    &:focus{
        outline: none;
        
    }

    &:active{
        opacity: 1;
        box-shadow: 0px 2px $dark-red;
        color: $dark-white;

    }
}

.header_user-logout_anchor{
    padding: 0px 212px;
    color: blue;
    border: 2px solid white;
}


nav{
    
  overflow: hidden;
  position: relative;
}