doctype html
html
    head
        title About
        
    style
        include about.css

    body#about-body
        div#about-header
            h1 This is the header !
            
        div#about-content
            h1 About
            
            div#about-textbox
                p Lorem blah blah blah

        div#about-footer
            h1 This is the Footer !