doctype html
html
    head
        title About
        
    style
        include style.css

    body#about-body
        include header.pug
            
        div#about-content
            h1 About
            
            div#about-textbox
                p Lorem blah blah blah

        include footer.pug