link(href='style.css', rel='stylesheet')
header.main-header
    div.container 
        h1 MEDIA LIBRARY 
        nav#top-menu-nav
            ul#top-menu.nav
            li 
                a(href='http://localhost:5000/home', target="_blank") Home
            li 
                a(href='http://localhost:5000/books', target="_blank") Book 
            li 
                a(href='http://localhost:5000/about', target="_blank") About
            li 
                a(href='http://localhost:5000/contact', target="_blank") Contact