doctype html
html
    head
        title= myTitle
        style
            include styles.css
            link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css', rel='stylesheet')
            link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
    body
        header.main-header
            div.container 
                h1 MEDIA LIBRARY 
                nav#top-menu-nav
                    ul#top-menu.nav
                    li 
                        a(href="/home") Home
                    li 
                        a(href="/book") Book
                        //a(href='#{link}', target="_blank") Book 
                    li 
                        a(href="/about") About
                        //a(href='#{link}', target="_blank") About
                    li 
                        a(href="/contact") Contact
                        //a(href='#{link}', target="_blank") Contact