extends layout.pug
block content
        div(id="content")
            //- h1 Home
            
            div(class="box")
                h2 Best watched
                a(href ="#")
                    div(class="item")
                        p An item here!
                a(href ="#")
                    div(class="item")
                        p An item here!
                a(href ="#")
                    div(class="item")
                        p An item here!
                a(href ="#")
                    div(class="item")
                        p An item here!
                
            
            div(class="box")
                h2 Top sellers
                a(href ="#")
                    div(class="item")
                        p An item here!
                a(href ="#")
                    div(class="item")
                        p An item here!
                a(href ="#")
                    div(class="item")
                        p An item here!
                a(href ="#")
                    div(class="item")
                        p An item here!