/*--------------------------------HEADER - NA-------------------------------------------------*/
*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header{
    // background-image: url(https://i.pinimg.com/originals/b3/6a/5f/b36a5fdd8e2bcdf148157caffe01fcbb.png);
    // -webkit-background-size: cover;
    // background-size: cover;
    // background-position: center center;
    // height: 100vh;

    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
    
   
}
#top-menu li a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;


}
#top-menu li{
    list-style: none;
    display: inline-block;
    
}
#top-menu-nav{
    padding: 10px;
}
nav{
    position: relative;
    padding: 10px 20px 10px 10px;
    text-align: right;
    z-index: 1;
    background:#b93e3e;
    margin: 0 auto;
    width:100%;

}
#top-menu li a:hover{
    background:#fff;
    color:tomato;
}
nav:before{
    position: absolute;
    content: '';
    left:0;
    top:100%;
    border-top: 10px solid #b93e3e;
    border-right: 10px solid #b93e3e;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
nav:after{
    position:absolute;
    content:'';
    border-top: 10px solid#b93e3e;
    border-left: 10px solid #b93e3e;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    right: 0;
}
/*--------------------------------FOOTER - NA-------------------------------------------------*/
footer{
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: space-between;
    overflow: hidden;
    background-color: #b93e3e;
    padding: 10px 10px;
    color: #fff;
}
footer i {
    color:#fff;
    margin:5px;
}
.footer-socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 25px;
}