doctype html 
html 
    head
        style 
            include style.css
    body 
        div(id="header")
        div(id="search")
            input(type="text" placeholder="Search..")
        //div(id="sort")
        button('onclick'="myFunction()" class="dropbtn") Dropdown
        div(id="myDropdown" class="dropdown-content")
            a(href="#") From A to Z
            a(href="#") From Z to A
        div(id="content")
            a(href="#")
                div(class="book" )
                    div(id="ima")
                         img(src="")
                    div(id="desc")
                        p Name: 
                        p Author: 
            a(href="#")
                div(class="book" )
                    div(id="ima")
                         img(src="")
                    div(id="desc")
                        p Name: 
                        p Author: 
            a(href="#")
                div(class="book" )
                    div(id="ima")
                         img(src="")
                    div(id="desc")
                        p Name: 
                        p Author: 
            a(href="#")
                div(class="book" )
                    div(id="ima")
                         img(src="")
                    div(id="desc")
                        p Name: 
                        p Author: 
            a(href="#")
                div(class="book" )
                    div(id="ima")
                         img(src="")
                    div(id="desc")
                        p Name: 
                        p Author: 
            a(href="#")
                div(class="book" )
                    div(id="ima")
                         img(src="")
                    div(id="desc")
                        p Name: 
                        p Author: 
            a(href="#")
                div(class="book" )
                    div(id="ima")
                         img(src="")
                    div(id="desc")
                        p Name: 
                        p Author: 
            a(href="#")
                div(class="book" )
                    div(id="ima")
                         img(src="")
                    div(id="desc")
                        p Name: 
                        p Author: 
            a(href="#")
                div(class="book" )
                    div(id="ima")
                         img(src="")
                    div(id="desc")
                        p Name: 
                        p Author: 
            a(href="#")
                div(class="book" )
                    div(id="ima")
                         img(src="")
                    div(id="desc")
                        p Name: 
                        p Author: 
            
        #buttondiv
            button(id="next") Next
        
        script(src="/js/app.js")