doctype html 
html 
    head
        style 
            include style.css
    body 
        div.header
        div.books_search_tool
            div.books_search
                input(type="text" placeholder="Search.." class="books_input")
            button(class="books_submit") Search
        div.books_sort
            button('onclick'="myFunction()" class="books_dropbtn") Dropdown
            div(id="books_myDropdown" class= "books_myDropdown")
                a(href="#") From A to Z
                a(href="#") From Z to A
        div.books_content
            a(href="#")
                div.books_book
                    div.books_ima
                         img(src="")
                    div.books_desc
                        p Name: 
                        p Author:
            a(href="#")
                div.books_book
                    div.books_ima
                         img(src="")
                    div.books_desc
                        p Name: 
                        p Author:
            a(href="#")
                div.books_book
                    div.books_ima
                         img(src="")
                    div.books_desc
                        p Name: 
                        p Author:
            a(href="#")
                div.books_book
                    div.books_ima
                         img(src="")
                    div.books_desc
                        p Name: 
                        p Author:
            a(href="#")
                div.books_book
                    div.books_ima
                         img(src="")
                    div.books_desc
                        p Name: 
                        p Author:
            a(href="#")
                div.books_book
                    div.books_ima
                         img(src="")
                    div.books_desc
                        p Name: 
                        p Author:
            a(href="#")
                div.books_book
                    div.books_ima
                         img(src="")
                    div.books_desc
                        p Name: 
                        p Author:
            a(href="#")
                div.books_book
                    div.books_ima
                         img(src="")
                    div.books_desc
                        p Name: 
                        p Author:
            a(href="#")
                div.books_book
                    div.books_ima
                         img(src="")
                    div.books_desc
                        p Name: 
                        p Author:
            a(href="#")
                div.books_book
                    div.books_ima
                         img(src="")
                    div.books_desc
                        p Name: 
                        p Author:
            
        div.books_buttonnext
            button(class="books_next") Next
        
        script.
            function myFunction() {
                document.getElementById("books_myDropdown").classList.toggle("show");
            }