extend includes/layout.pug
block content
    div#home-content
        //- h1 Home
        
        div.home-box
            h2 Best watched
            a(href ="#")
                .home-item
                    p An item here!
            a(href ="#")
                div.home-item
                    p An item here!
            a(href ="#")
                div.home-item
                    p An item here!
            a(href ="#")
                div.home-item
                    p An item here!
            
        
        div.home-box
            h2 Top sellers
            a(href ="#")
                div.home-item
                    p An item here!
            a(href ="#")
                div.home-item
                    p An item here!
            a(href ="#")
                div.home-item
                    p An item here!
            a(href ="#")
                div.home-item
                    p An item here!
        
