link(href='css/styles.css', rel='stylesheet')
header.main-header
    div.container 
        h1 MEDIA LIBRARY 
        nav#top-menu-nav
            ul#top-menu.nav
            li 
                a(href='#{link}', target="_blank") Home
            li 
                a(href='#{link}', target="_blank") Book 
            li 
                a(href='#{link}', target="_blank") About
            li 
                a(href='#{link}', target="_blank") Contact