extends layout.pug

block content
    div(id="content")
        //- h1 Home
        
        div(class="box")
            h2 Best watched
            a(href ="books/book1")
                img(class="item" src="https://upload.wikimedia.org/wikipedia/en/6/65/ThingsFallApart.jpg")
                
            a(href ="#")
                img(class="item" src="http://allscandinavia.com/CompleteFairyTalesHansChris.gif")
                
            a(href ="#")
                img(class="item" src="http://t2.gstatic.com/images?q=tbn:ANd9GcQcoLRDY6Udh0jPvAQkupC_0m9TpQcm9shYK_E-Wo00yITV6s4Q")
                
            a(href ="#")
                img(class="item" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Boccaccio_-_Decameron%2C_MCCCCLXXXXII_ad_di_XX_de_giugno_-_3852856_Scan00015.tif/lossy-page1-440px-Boccaccio_-_Decameron%2C_MCCCCLXXXXII_ad_di_XX_de_giugno_-_3852856_Scan00015.tif.jpg")
                
            
        
        div(class="box")
            h2 Top sellers
            a(href ="#")
                div(class="item")
                    p An item here!
            a(href ="#")
                div(class="item")
                    p An item here!
            a(href ="#")
                div(class="item")
                    p An item here!
            a(href ="#")
                div(class="item")
                    p An item here!
    