doctype
html
    head
        title About
        //Link css not working !! Use something else !!
        //link(rel='stylesheet', href='style.css')
    body
        h1 About
        a(href="http://nothinghere.org") This link contains something ! NOT !

        p 
            a(href="http:google.com") This link is inside the p tag !

        ul 
            li First item on the list
            li Second item
            li Third item
        
        div
            p This one is inside the div tag !

        //Doing a form
        form(method="post" action="_blank")
            label(for="ourid") The id text is here !
            input(name="name", type="text", id="ourid", placeholder="the placeholder")
            input(type="submit" value="our submit button")

        //Now a table
        table()
            tr
                td
                    label name
                td
                    input(name='name', id='name')
            tr
                td
                    label anotherName
                td
                    input(name='anotherName', id='anotherName')
p Muhaha, this is pug!
p= a