link(href='style.css', rel='stylesheet')
link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css', rel='stylesheet')
link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
footer.main-footer
    div.socialmedia
        <i class="fa fa-facebook-f"></i>
        <i class="fa fa-instagram"></i>
    div @coppyright 2018 bit lamk