doctype
html
    head
        title Home
        
    style
        include home.css

    body#home-body
        div#home-header
            h1 This is the header !

        div#home-content
            //- h1 Home
            
            div.home-box
                h2 Best watched
                a(href ="#")
                    .home-item
                        p An item here!
                a(href ="#")
                    div.home-item
                        p An item here!
                a(href ="#")
                    div.home-item
                        p An item here!
                a(href ="#")
                    div.home-item
                        p An item here!
                
            
            div.home-box
                h2 Top sellers
                a(href ="#")
                    div.home-item
                        p An item here!
                a(href ="#")
                    div.home-item
                        p An item here!
                a(href ="#")
                    div.home-item
                        p An item here!
                a(href ="#")
                    div.home-item
                        p An item here!
        
        div#home-footer
            h1 This is the Footer !