/******************************************
/* homepage *//* homepage *//* homepage *//* homepage
******************************************/

body{
    border: 522px solid rgb(255,255,255);
    height: auto;
    /* //Tested height for best view below! */
    /* //height: 1100px; */
    width: 1000px;
    margin: 0 auto 0;
    font-family: Sans-serif, "Lucia Console";
}


header{
    display: block;
    position: relative;
    border: 2px solid yellow;
}


/********************
HEADER FOOTER's NA
********************/

header{
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
}
header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    // background-color: #333;
}

li {
    list-style-type: none;
    float: left;
    background-color: #b93e3e;
    border-radius: 15px 15px 0px 0px;
    margin: 0.5px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #fff;
    color: #333;
    border-radius: 15px 15px 0px 0px;
}

/*footer*/
footer{
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: space-between;
    overflow: hidden;
    background-color: #b93e3e;
    //anh tuan
    margin: 100px 0 0 0;
    padding: 10px 10px;
    color: #fff;
}
footer i {
    color:#fff;
    margin:5px;
}
.socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 25px;
}

/* <!---Not working, why---> */
#content, #textbox{
    border-collapse: collapse;
}

#content{
    display: block;
    position: relative;
    width: 90%;
    height: 75%;
    // border: 1px solid salmon;
    margin-left: auto;
    margin-right: auto;
}

.box{
    display: block;
    position: relative;
    margin-top: 20px;
    /* //height: 260px; */
    height: 33%;
    width: auto;
    border: 1px solid black;
    padding: 20px;
}

h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.item{
    display: inline-block;
    position: relative;
    height: 60%;
    width: 20%;
    border: 1px solid yellowgreen;
    margin: 2%;
    text-align: center;
}

#footer{
    display: block;
    position: relative;
    border: 2px solid yellow;
}




/******************************************
/* about *//* about *//* about *//* about
******************************************/

body{
    border: 5px solid red;
    height: auto;
    /* //Tested height for best view below! */
    /* //height: 1100px; */
    width: 1000px;
    margin: 0 auto 0;
    font-family: Sans-serif, "Lucia Console";
}

// <!---Not working, why--->
#content, #textbox{
    border-collapse: collapse;
}

#header{
    display: block;
    position: relative;
    border: 2px solid yellow;
}

#content{
    display: block;
    position: relative;
    width: 90%;
    height: 75%;
    // border: 1px solid salmon;
    margin-left: auto;
    margin-right: auto;
}

#textbox{
    display: block;
    position: relative;
    height:70%;
    width: auto;
    border: 1px solid black;
    padding: 20px;
}

#footer{
    display: block;
    position: relative;
    border: 2px solid yellow;
}

h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}


/************
TRAM TRAM
********/
#search input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 70%;
}

#sort{
    float: right;
    width: 50px;
    height: 25px;

}
#line{
    width: 100%;
    height: 40px;
}

#book{
    width: 22%;
    height: 40px;
    background-color: black; 
    color: white;
}
#ima{
    width: 100%;
    height: 25px;
}

#desc{
    width: 100%;
}

#next
{
    background-color: palevioletred;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    float: right;
}

#map
{
    margin: auto;
    width: 60%;
}





/*******
test

*******/
.book1-img{
    float: left;
    // height: 500px;
    img{
        min-width: 200px;
        padding: 0 0 0 10px;
        border: none;
    }
    
}
.book1-content{
    // float: right;
}


