extends layout
block content

    div(id="content")
        h1 About
        
        div(id="textbox")
            p Place for bookworms
            img(src="https://vignette.wikia.nocookie.net/dfairies/images/f/f9/Bookworm_Eating_Page.jpg/revision/latest?cb=20140409192155")