extends layout.pug
block content
        div(id="home-content")
            //- h1 Home
            
            div(class="home-box")
                h2 Best watched
                -for(var i=0; i<4;i++){
                    a(href= "/"+ data[i]['_id'])
                        .home-item
                            p Title:  #{data[i]['title']} 
                            p Author: #{data[i]['author']}
                -}
                //- a(href ="#")
                //-     div(class="home-item")
                //-         p An item here!

                //- a(href ="#")
                //-     div(class="home-item")
                //-         p An item here!
                //- a(href ="#")
                //-     div(class="home-item")
                //-         p An item here!
                //- a(href ="#")
                //-     div(class="home-item")
                //-         p An item here!
                
            
            div(class="home-box")
                h2 Top sellers
                a(href ="#")
                    div(class="home-item")
                        p An item here!
                a(href ="#")
                    div(class="home-item")
                        p An item here!
                a(href ="#")
                    div(class="home-item")
                        p An item here!
                a(href ="#")
                    div(class="home-item")
                        p An item here!
                p=book