
/*--------------------------------FOOTER - NA-------------------------------------------------*/
footer{
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: space-between;
    overflow: hidden;
    background-color: #b93e3e;
    padding: 10px 10px;
    color: #fff;
}
footer i {
    color:#fff;
    margin:5px;
}
.footer-socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 25px;
}
