doctype
html
    head
        title About
        
    style
        include about.css

    body
        div(id="header")
            h1 This is the header !
            
        div(id="content")
            h1 About
            
            div(id="textbox")
                p Lorem blah blah blah

        div(id="footer")
            h1 This is the Footer !