doctype
html
    head
        title Home
        
    style
        include home.css

    body
        div(id="header")
            h1 This is the header !

        div(id="content")
            //- h1 Home
            
            div(class="box")
                h2 Best watched
                a(href ="#")
                    div(class="item")
                        p An item here!
                a(href ="#")
                    div(class="item")
                        p An item here!
                a(href ="#")
                    div(class="item")
                        p An item here!
                a(href ="#")
                    div(class="item")
                        p An item here!
                
            
            div(class="box")
                h2 Top sellers
                a(href ="#")
                    div(class="item")
                        p An item here!
                a(href ="#")
                    div(class="item")
                        p An item here!
                a(href ="#")
                    div(class="item")
                        p An item here!
                a(href ="#")
                    div(class="item")
                        p An item here!
        
        div(id="footer")
            h1 This is the Footer !