extends layout.pug
block content
    .contact_content
        h1(style="text-align: center") Contact
        .contact_info
            p Email: medialibrary@lamk.fi
            p Phone: +358 469 543127
            p Address: Mukkulakatu 19, 15140 Lahti, Finland 
        .contact_map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1933.9581613253556!2d25.662925751321662!3d61.00565038245025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468e290a0bd1c9ed%3A0x861cdfef3ef6527f!2sMukkulankatu+19%2C+15210+Lahti!5e0!3m2!1sen!2sfi!4v1539759004122" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)