extends layout.pug 
block content
    .books_search_tool
        .books_search
            input(type="text" placeholder="Search.." class="books_input")
        button(class="books_submit") Search
    .books_sort
        button('onclick'="myFunction()" class="books_dropbtn") Dropdown
        #books_myDropdown
            button('onclick'="sortName()") A to Z
            button('onclick'="myFunction()") Test
        //- .home-box
        //-     -for(var i = 0; i < 10; i++){
        //-         a(href='book/'+bookArray[i]['_id'])
        //-             .home-item
        //-                 img(src=bookArray[i]['imageLink'], alt="book")
        //-                 h1= bookArray[i]['title']
        //-     -}
            
    - bookArray.sort(function(a,b){ return (a.title > b.title)?1:((b.title > a.title)?-1:0);})
    
    each value in bookArray
        .home-item
            img(src=value.imageLink)
            h2 #{value.title}
   
    .books_buttonnext
        button.books_next Next
